<div class="main-container-2" *ngIf="productsService.dataMovie.getValue()">
  <div
    *ngFor="let item of productsService.dataMovie.getValue()"
    class="card text-white bg-info mb-3"
    style="max-width: 18rem"
  >
    <div class="card-header">
      {{ item.Title || "Movie Not Found" }} [{{ item.Year || "x" }}]
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ item?.Title || "-" }}
      </h5>
      <p class="card-text">{{ item.Plot || "-" }}</p>
    </div>
  </div>
</div>

<div class="main-container-2" *ngIf="!productsService.dataMovie.getValue()">
  <div class="card text-white bg-info mb-3" style="max-width: 18rem">
    <div class="card-header">
      {{ "Please Type to Find Movies" }} [{{ "x" }}]
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ "-" }}
      </h5>
      <p class="card-text">{{ "-" }}</p>
    </div>
  </div>
</div>
